.bg {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-family: 'roboto';
}
.user-details-bg {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  height: 90%;
}
.error {
  color: red;
  font-size: 10px;
  text-align: center;
}
.label-input-bg {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
}
.logo-img {
  height: 30px;
  width: 90px;
  margin-left: 40px;
  margin-bottom: 10px;
}
input {
  outline: none;
  height: 25px;
  margin: 2px;
  background-color: transparent;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
label {
  margin: 2px;
  font-size: 10px;
}

.add-btn {
  background-color: #6366f1;
  height: 25px;
  width: 205px;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-left: 2px;
  margin-top: 8px;
}
